.navigationBar {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #282c34;
    position: sticky;
    position: -webkit-sticky;
    top: 40px;
    z-index: 1;
}

.navigationButton {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    box-sizing: border-box;
    line-height: 40px;
    font-weight: bold;
}

.navigationButton:hover, .navigationBar:hover {
    background-color: #171b23;
}