.navigationBar {
    margin: 0;
    padding: 0;
    display: block;
}

.navigationButton {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #282c34;
    box-sizing: border-box;
    line-height: 40px;
}